body {
  background-image: linear-gradient(to right, red, orange);
  text-transform: capitalize
}

.page-content {
  background-color: whitesmoke;
  width: 80%;
  height: 80%;
  margin: 100px auto;
  border-style: solid;
  border-width:20px;
  border-color:rgba(250, 259, 211, 0.5) ;

}

a:click {
  text-decoration: underline
}

header {
  background-color: #FAD7A0;
}

li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  margin: 5px;
  font-family: Georgia, serif;
}

ul {
  padding: 10px 30px;
}

li a {
  color: black;
  text-decoration: none
}


ul p {
  display: inline
}

span {
  color: red;
}

.article-container {
  display: flex;
}

.text-container {
  flex: 50%;
  font-size: 20px;
  text-align: center
}

.image-container {
  flex: 50%
}

img {
  max-width: 100%;
  height: auto
}

.details {
  color: black;
  font-size: 12px;
}

button {
  padding: 3px;
  margin: 5px;
  text-transform: capitalize;
}

.order {
  background-color: #FF0000;
  color: white;
}
a:hover{text-decoration-color:red}
